openapi: 3.1.0
info:
  title: Cobru API
  version: 1.0.0
  description: |
    Cobru API for payments and operational money movement in Colombia.

    This OpenAPI file is currently a curated working spec built from:
    - live sandbox verification on `dev.cobru.co`
    - Cobru legacy API materials
    - Cobru API menu captures

    Verification model:
    - `x-verification-status: verified` means behavior has been validated against sandbox or first-hand integration learnings.
    - `x-verification-status: legacy-doc` means the contract comes from older Cobru materials and should be re-validated before production dependence.
    - `x-verification-status: menu-only` means the capability is visible in Cobru's API surface but the contract is still pending extraction.

    The editable source of truth lives in `openapi/src/**` and is bundled to `openapi/cobru.yaml` for runtime consumption.
  contact:
    email: soporte@cobru.co
servers:
  - url: https://prod.cobru.co
    description: Production
  - url: https://dev.cobru.co
    description: Sandbox
security:
  - ApiToken: []
    ApiSecretKey: []
    BearerAuth: []
tags:
  - name: Authentication
  - name: Cobrus
  - name: Transfers
  - name: Balance & Movements
  - name: Cash Withdrawals
  - name: Bank Withdrawals
  - name: Services
  - name: Tokenization
  - name: Cards
  - name: Celo
  - name: Whitelabel
  - name: Webhooks
paths:
  /token/refresh/:
    post:
      operationId: refreshToken
      tags:
        - Authentication
      summary: Refresh access token
      x-verification-status: verified
      description: |
        Exchange a Cobru refresh token for a short-lived access token.
        The request body field is `refresh`, not `refresh_token`.
      security:
        - ApiToken: []
          ApiSecretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/:
    post:
      operationId: createCobru
      tags:
        - Cobrus
      summary: Create a cobru
      x-verification-status: verified
      description: |
        Create a hosted Cobru payment object.

        Important quirks:
        - `payment_method_enabled` must be a JSON string.
        - `payer_redirect_url` and `callback` should always be included.
        - the response field `url` is a short slug, not a full URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: Cobru created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authentication error or misleading validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /{url}:
    post:
      operationId: submitPaymentDetails
      tags:
        - Cobrus
      summary: Submit payment details
      x-verification-status: legacy-doc
      description: |
        Submit payer and payment-method-specific details for an existing cobru.

        This operation is still classified as `legacy-doc`. Its field shape is
        corroborated by Cobru's original Spotlight materials, the compiled internal
        API notes, and later deep checkout research, but Cobru has not yet replayed
        every method variant end-to-end in this repo's sandbox evidence set.

        Current confidence breakdown:
        - High confidence on the selector field name `payment`
        - High confidence on the PSE prerequisite `GET /get_banks/1/` plus `bankCode`
          mapped into the `bank` field
        - Medium confidence on Nequi and Daviplata request shapes
        - Medium confidence on card and Bancolombia button payload fields
        - Known sandbox caveat: direct `payment: "breb"` has been observed as
          commercially gated or disabled in later research, even though Spotlight
          documents it as a supported method

        Spotlight materials describe this endpoint as the checkout hub for Bre-B, PSE,
        Efecty, Corresponsal Bancolombia, Nequi, dale!, Botón Bancolombia, Daviplata,
        and credit-card flows.
      parameters:
        - in: path
          name: url
          required: true
          schema:
            type: string
          description: Cobru slug returned by `POST /cobru/`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDetailsRequest'
            examples:
              breb:
                summary: Bre-B
                value:
                  payment: breb
              pse:
                summary: PSE
                value:
                  name: Juan Perez
                  payment: pse
                  cc: '1140867070'
                  email: juan@cobru.co
                  document_type: CC
                  phone: '300000000'
                  bank: '1040'
                  address: Bogotá, Colombia
              nequi:
                summary: Nequi
                value:
                  name: Test Gómez
                  payment: NEQUI
                  cc: '1082626262'
                  email: test@cobru.co
                  document_type: CC
                  phone: '307654332'
                  phone_nequi: '307654332'
                  push: true
              creditCard:
                summary: Credit card
                value:
                  name: Test Gómez
                  payment: credit_card
                  cc: '1082626262'
                  email: test@cobru.co
                  document_type: CC
                  phone: '307654332'
                  credit_card: '4111111111111111'
                  expiration_date: 12/30
                  cvv: '123'
                  dues: 1
      responses:
        '200':
          description: Payment details accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                breb:
                  summary: Bre-B response excerpt
                  value:
                    model: api.paymentorder
                    fields:
                      method: breb
                      franchise: breb
                      state: PENDIENTE
                      qr_value: 9893839849384938434.COM.CRB.LLA04...
                      key_value: '@llave0343'
                checkout:
                  summary: Hosted redirect response excerpt
                  value:
                    checkout: https://url_botonbancolombia.apps.bancolombia.com/web/transfer-gateway/checkout/url_de_bc
                daviplata:
                  summary: Daviplata follow-up required
                  value:
                    result: OTP_REQUIRED
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/confirm_daviplata/:
    post:
      operationId: confirmDaviplataPayment
      tags:
        - Cobrus
      summary: Confirm Daviplata OTP
      x-verification-status: legacy-doc
      description: |
        Confirm a Daviplata payment after the payer receives the OTP.
        This operation is documented in the original Spotlight materials and later
        deep checkout research, but Cobru has not yet replayed a full OTP confirmation
        cycle in the sandbox evidence published by this repo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DaviplataConfirmRequest'
            example:
              URL: ufa8q176
              OTP: '123456'
      responses:
        '200':
          description: Daviplata confirmation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaviplataConfirmResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru_detail/{url}:
    get:
      operationId: consultCobru
      tags:
        - Cobrus
      summary: Consult a cobru
      x-verification-status: legacy-doc
      parameters:
        - in: path
          name: url
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cobru details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobruDetailResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /get_banks/1/:
    get:
      operationId: listPseBanks
      tags:
        - Cobrus
      summary: List PSE banks
      x-verification-status: legacy-doc
      description: Retrieve available PSE bank codes.
      security: []
      responses:
        '200':
          description: PSE bank list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankCode'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/estimate/:
    post:
      operationId: estimateCobru
      tags:
        - Cobrus
      summary: Quote a cobru
      x-verification-status: legacy-doc
      description: Estimate fees and net received amount before creating a cobru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateRequest'
      responses:
        '200':
          description: Fee quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /edit_cobru/:
    post:
      operationId: editCobru
      tags:
        - Cobrus
      summary: Edit a cobru
      x-verification-status: legacy-doc
      description: Update mutable fields on an existing cobru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditCobruRequest'
      responses:
        '200':
          description: Cobru updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /send/:
    post:
      operationId: sendBalance
      tags:
        - Transfers
      summary: Send balance to another Cobru user
      x-verification-status: legacy-doc
      description: |
        Transfer Cobru balance to another Cobru user. Legacy materials indicate the sender must have verified phone and email, and that the recipient is identified by phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            examples:
              default:
                value:
                  amount: 99000
                  to_user: '3001234567'
      responses:
        '200':
          description: Transfer created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
    get:
      operationId: listTransfers
      tags:
        - Transfers
      summary: List transfers
      x-verification-status: legacy-doc
      description: |
        Retrieve transfers created by the authenticated Cobru user. Older materials show `from_user`, `to_user`, `amount`, and `date` fields in the response.
      responses:
        '200':
          description: Transfer list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /balance/:
    get:
      operationId: getBalance
      tags:
        - Balance & Movements
      summary: Get balance
      x-verification-status: legacy-doc
      description: Retrieve account balance.
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /movements/movements_by_types/:
    get:
      operationId: listMovementsByType
      tags:
        - Balance & Movements
      summary: List movements by operation family
      x-verification-status: legacy-doc
      description: |
        Retrieve operational movement history with one family filter at a time.
        Spotlight documents `by_cobrus`, `by_withdraws`, `by_sends`, and `by_other_payments`.
      parameters:
        - in: query
          name: by_cobrus
          schema:
            type: boolean
        - in: query
          name: by_withdraws
          schema:
            type: boolean
        - in: query
          name: by_sends
          schema:
            type: boolean
        - in: query
          name: by_other_payments
          schema:
            type: boolean
        - in: query
          name: per_page
          schema:
            type: integer
            default: 10
        - in: query
          name: page_num
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Movement rows
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /withdraw/:
    post:
      operationId: createBankWithdrawalLegacy
      tags:
        - Cash Withdrawals
      summary: Withdraw money to a bank account
      x-verification-status: legacy-doc
      description: Legacy withdrawal flow documented before the third-party withdrawal endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Withdrawal created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
    get:
      operationId: listLegacyBankWithdrawals
      tags:
        - Cash Withdrawals
      summary: List legacy bank withdrawals
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Withdrawal list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /cashwithdraw/:
    post:
      operationId: createCashWithdrawal
      tags:
        - Cash Withdrawals
      summary: Withdraw cash
      x-verification-status: legacy-doc
      description: |
        Create a cash withdrawal. The best-known public contract is documented for Efecty and supports optional callback and estimate fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashWithdrawalRequest'
            examples:
              efecty:
                value:
                  amount: '10000'
                  document: '213232323'
                  estimate: false
                  exp_days: '30'
                  method: efecty
                  name: Testeo efecty
      responses:
        '200':
          description: Cash withdrawal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalResponse'
        default:
          $ref: '#/components/responses/GenericError'
    get:
      operationId: listCashWithdrawals
      tags:
        - Cash Withdrawals
      summary: List cash withdrawals
      x-verification-status: legacy-doc
      description: |
        Retrieve cash withdrawals for the authenticated account. Legacy materials expose state codes and callback information in the listing payload.
      responses:
        '200':
          description: Cash withdrawal list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalListResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /cashwithdraw/{id}:
    get:
      operationId: getCashWithdrawal
      tags:
        - Cash Withdrawals
      summary: Get cash withdrawal by ID
      x-verification-status: legacy-doc
      description: Retrieve the detail view of one cash withdrawal.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Cobru cash-withdrawal identifier.
      responses:
        '200':
          description: Cash withdrawal detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalListItem'
        default:
          $ref: '#/components/responses/GenericError'
  /cancelcashwithdraw/:
    post:
      operationId: cancelCashWithdrawal
      tags:
        - Cash Withdrawals
      summary: Cancel cash withdrawal
      x-verification-status: legacy-doc
      description: Cancel a previously created cash withdrawal before pickup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashWithdrawalCancelRequest'
            examples:
              default:
                value:
                  id: 123456
      responses:
        '200':
          description: Cash withdrawal cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalCancelResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /bank_list_third_party_withdraw/:
    get:
      operationId: listThirdPartyWithdrawalBanks
      tags:
        - Bank Withdrawals
      summary: List available banks for third-party withdrawals
      x-verification-status: legacy-doc
      description: |
        Retrieve the bank catalog used by the legacy Colombian third-party withdrawal flow.
      responses:
        '200':
          description: Bank list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalBanksResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /thirdpartywithdraw/:
    post:
      operationId: createThirdPartyWithdrawal
      tags:
        - Bank Withdrawals
      summary: Create bank withdrawal to a third party
      x-verification-status: legacy-doc
      description: |
        Create a bank withdrawal using the best-known Colombian third-party payout contract from legacy Cobru materials. Supports beneficiary banking details, optional callback, and optional idempotency key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyWithdrawalRequest'
            examples:
              colombia:
                value:
                  amount: 250000
                  account_holder_name: Maria Perez
                  account_type: savings
                  account_holder_document: '1029384756'
                  account_holder_document_type: CC
                  account_number: '1234567890'
                  account_phone: '3001234567'
                  account_email: maria@example.com
                  bank_name: Bancolombia
                  description: Supplier payout
                  callback: https://merchant.example/webhooks/withdrawals
                  idempotency_key: wd_2026_04_08_0001
      responses:
        '200':
          description: Withdrawal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
    get:
      operationId: listThirdPartyWithdrawals
      tags:
        - Bank Withdrawals
      summary: List third-party withdrawals
      x-verification-status: legacy-doc
      description: |
        Retrieve previously created third-party withdrawals. Legacy materials mention querying by idempotency key in addition to standard list retrieval.
      parameters:
        - in: query
          name: idempotency_key
          required: false
          schema:
            type: string
          description: Optional idempotency key used to find a previously submitted payout.
      responses:
        '200':
          description: Withdrawal list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalListResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /thirdpartywithdraw/{id}:
    get:
      operationId: getThirdPartyWithdrawal
      tags:
        - Bank Withdrawals
      summary: Get third-party withdrawal by ID
      x-verification-status: legacy-doc
      description: Retrieve the latest state and details for one third-party bank withdrawal.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Cobru bank-withdrawal identifier.
      responses:
        '200':
          description: Withdrawal detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /cancelthirdpartywithdraw/:
    post:
      operationId: cancelThirdPartyWithdrawal
      tags:
        - Bank Withdrawals
      summary: Cancel third-party withdrawal
      x-verification-status: legacy-doc
      description: Cancel a previously created third-party bank withdrawal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyWithdrawalCancelRequest'
            examples:
              default:
                value:
                  id: 7821
      responses:
        '200':
          description: Withdrawal cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalCancelResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /panel/detail_withdraw_pdf/:
    get:
      operationId: getThirdPartyWithdrawalPdf
      tags:
        - Bank Withdrawals
      summary: Get third-party withdrawal PDF
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: withdraw_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Withdrawal PDF or download metadata
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/GenericError'
  /withdraw/co/:
    post:
      operationId: createBreBTransfer
      tags:
        - Bank Withdrawals
      summary: Create BRE-B transfer
      x-verification-status: legacy-doc
      description: |
        Candidate endpoint for BRE-B-linked bank movement in Colombia. The exact request and settlement model still require fresh validation with Cobru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreBWithdrawalRequest'
      responses:
        '200':
          description: BRE-B transfer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /withdraw/br/:
    post:
      operationId: createBankWithdrawalBrazil
      tags:
        - Bank Withdrawals
      summary: Create bank withdrawal to Brazil
      x-verification-status: legacy-doc
      description: |
        Create a Brazil payout using the legacy Cobru export built around PIX keys and CPF/CNPJ identity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankWithdrawalBrazilRequest'
      responses:
        '200':
          description: Withdrawal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /withdraw/ar/:
    post:
      operationId: createBankWithdrawalArgentina
      tags:
        - Bank Withdrawals
      summary: Create bank withdrawal to Argentina
      x-verification-status: legacy-doc
      description: |
        Create an Argentina payout using the legacy Cobru export built around `cbu` or `cvu` destination identifiers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankWithdrawalArgentinaRequest'
      responses:
        '200':
          description: Withdrawal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /withdraw/mx/:
    post:
      operationId: createBankWithdrawalMexico
      tags:
        - Bank Withdrawals
      summary: Create bank withdrawal to Mexico
      x-verification-status: legacy-doc
      description: |
        Create a Mexico payout using the legacy Cobru export built around CLABE and beneficiary name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankWithdrawalMexicoRequest'
      responses:
        '200':
          description: Withdrawal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /request_service_reload/:
    post:
      operationId: rechargeCellPhone
      tags:
        - Services
      summary: Recharge a mobile phone
      x-verification-status: legacy-doc
      description: |
        Recharge a mobile phone line using Cobru's digital-services surface. Legacy materials mention operators such as Claro, Movistar, Tigo, and Avantel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RechargeRequest'
      responses:
        '200':
          description: Recharge accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechargeResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /pines/all_pines/:
    get:
      operationId: listPinProducts
      tags:
        - Services
      summary: List PIN products
      x-verification-status: legacy-doc
      description: Retrieve the PIN product catalog. Legacy materials also mention filtering by operator.
      parameters:
        - in: query
          name: operator
          required: false
          schema:
            type: string
          description: Optional operator filter.
      responses:
        '200':
          description: PIN catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /pin/:
    post:
      operationId: buyPinProduct
      tags:
        - Services
      summary: Buy PIN product
      x-verification-status: legacy-doc
      description: Purchase a PIN-based digital product from Cobru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyPinRequest'
      responses:
        '200':
          description: PIN purchase result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyPinResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /packages/all_packages/:
    get:
      operationId: listCellPackages
      tags:
        - Services
      summary: List recharge packages
      x-verification-status: legacy-doc
      description: Retrieve the catalog of mobile data or recharge packages available in Cobru.
      parameters:
        - in: query
          name: cell_provider
          required: false
          schema:
            type: string
          description: Optional provider filter referenced in older Cobru materials.
      responses:
        '200':
          description: Package catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /packages/buy/:
    post:
      operationId: buyCellPackage
      tags:
        - Services
      summary: Buy recharge package
      x-verification-status: legacy-doc
      description: Purchase a mobile data or recharge package through Cobru.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyPackageRequest'
      responses:
        '200':
          description: Package purchase result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /soat/:
    get:
      operationId: getSoatQuote
      tags:
        - Services
      summary: Quote SOAT insurance
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: placa
          required: true
          schema:
            type: string
        - in: query
          name: type
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SOAT quote
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
    post:
      operationId: buySoat
      tags:
        - Services
      summary: Buy SOAT insurance
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: SOAT purchase result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /soat/doc_types/:
    get:
      operationId: listSoatDocumentTypes
      tags:
        - Services
      summary: List SOAT document types
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Document type catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /soat/cities/:
    get:
      operationId: listSoatCities
      tags:
        - Services
      summary: List SOAT cities
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: dpto
          required: false
          schema:
            type: string
      responses:
        '200':
          description: City catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /base/get_constants_key_public/:
    get:
      operationId: getTokenizationPublicKey
      tags:
        - Tokenization
      summary: Get tokenization public key
      x-verification-status: legacy-doc
      responses:
        '200':
          description: RSA public key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      text_long_value:
                        type: string
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /register_tc/:
    post:
      operationId: registerCreditCardToken
      tags:
        - Tokenization
      summary: Register a tokenized credit card
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Card registered
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /list_tc/:
    get:
      operationId: listTokenizedCards
      tags:
        - Tokenization
      summary: List tokenized cards
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: card_uuid
          schema:
            type: string
      responses:
        '200':
          description: Tokenized card list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /tc_payment/:
    post:
      operationId: payWithTokenizedCard
      tags:
        - Tokenization
      summary: Pay with a tokenized card
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Payment result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /delete_tc/:
    get:
      operationId: deleteTokenizedCard
      tags:
        - Tokenization
      summary: Delete a tokenized card
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: card_uuid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/debit/create_and_reload_card/:
    post:
      operationId: createOrReloadCard
      tags:
        - Cards
      summary: Create and reload card
      x-verification-status: legacy-doc
      description: |
        Shared legacy endpoint for card issuance and card reload. Use `amount: 0` to create a new card, or send `card_id` plus a positive amount to reload an existing card.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreateReloadRequest'
            examples:
              create:
                value:
                  amount: 0
              reload:
                value:
                  amount: 50000
                  card_id: 9182
      responses:
        '200':
          description: Card created or reloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/debit/get_card/:
    get:
      operationId: getDebitCard
      tags:
        - Cards
      summary: Get debit cards or one card by ID
      x-verification-status: legacy-doc
      description: Retrieve the card list or a single card when `card_id` is provided.
      parameters:
        - in: query
          name: card_id
          schema:
            type: integer
          description: Card identifier for detail mode.
      responses:
        '200':
          description: Card detail or list
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CardRecord'
                  - $ref: '#/components/schemas/CardListResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/debit/get_transactions/:
    get:
      operationId: listDebitCardTransactions
      tags:
        - Cards
      summary: List debit card transactions
      x-verification-status: legacy-doc
      description: Retrieve movement history for one Cobru virtual card.
      parameters:
        - in: query
          name: card_id
          required: true
          schema:
            type: integer
          description: Card identifier.
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
          description: Optional page size.
        - in: query
          name: page_num
          required: false
          schema:
            type: integer
          description: Optional page number.
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTransactionsResponse'
        default:
          $ref: '#/components/responses/GenericError'
  /cobru/debit/freeze_card/:
    post:
      operationId: freezeDebitCard
      tags:
        - Cards
      summary: Freeze debit card
      x-verification-status: legacy-doc
      description: Freeze or unfreeze a Cobru virtual card.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreezeCardRequest'
      responses:
        '200':
          description: Card frozen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRecord'
        default:
          $ref: '#/components/responses/GenericError'
  /celo/:
    get:
      operationId: getOrCreateCeloWallet
      tags:
        - Celo
      summary: Get or create cUSD wallet
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Wallet snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  balance:
                    type: string
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
    post:
      operationId: transferCusd
      tags:
        - Celo
      summary: Transfer cUSD
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                amount:
                  type: number
              additionalProperties: true
      responses:
        '200':
          description: Transfer result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /celo/account/:
    post:
      operationId: exportCeloWalletAccount
      tags:
        - Celo
      summary: Export Celo wallet account details
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Wallet export details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /celo/transactions/cusd/:
    get:
      operationId: listCusdTransactions
      tags:
        - Celo
      summary: List cUSD wallet transactions
      x-verification-status: legacy-doc
      responses:
        '200':
          description: cUSD transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /pay_with_celo/:
    post:
      operationId: payCobruWithCelo
      tags:
        - Celo
      summary: Pay a Cobru with cUSD
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Payment result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /crypto/rates/:
    get:
      operationId: getCryptoRates
      tags:
        - Celo
      summary: Get crypto rates
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Rate data
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /crypto/buy/:
    post:
      operationId: buyCrypto
      tags:
        - Celo
      summary: Buy cUSD or other supported crypto balance
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Purchase result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /user/:
    post:
      operationId: createWhitelabelUser
      tags:
        - Whitelabel
      summary: Register a white-label user
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: User created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /category/:
    get:
      operationId: listWhitelabelCategories
      tags:
        - Whitelabel
      summary: List business categories
      x-verification-status: legacy-doc
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /subcategory:
    get:
      operationId: listWhitelabelSubcategories
      tags:
        - Whitelabel
      summary: List subcategories by category
      x-verification-status: legacy-doc
      parameters:
        - in: query
          name: category_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subcategory list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /request_confirmation/:
    post:
      operationId: requestWhitelabelConfirmationCode
      tags:
        - Whitelabel
      summary: Request email or phone confirmation code
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: boolean
                email:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Confirmation code sent
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /verify_email/:
    post:
      operationId: verifyWhitelabelEmail
      tags:
        - Whitelabel
      summary: Verify email confirmation code
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
  /verify_phone/:
    post:
      operationId: verifyWhitelabelPhone
      tags:
        - Whitelabel
      summary: Verify phone confirmation code
      x-verification-status: legacy-doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Phone verified
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/GenericError'
webhooks:
  paymentStateChanged:
    post:
      tags:
        - Webhooks
      operationId: paymentStateChanged
      summary: Payment state callback
      description: |
        Cobru sends a POST request to the callback URL provided when creating a payment.
        Webhooks are not signed today, so consumers should treat them as notifications and re-check state for sensitive flows.
      x-verification-status: verified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        '200':
          description: Callback received successfully
components:
  securitySchemes:
    ApiToken:
      type: apiKey
      in: header
      name: Api-Token
    ApiSecretKey:
      type: apiKey
      in: header
      name: Api-Secret-Key
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    TokenRefreshRequest:
      type: object
      required:
        - refresh
      properties:
        refresh:
          type: string
          description: Refresh token issued by Cobru
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Error en la creacion del cobru.
        detail:
          type: string
          example: payment_method_enabled must be a JSON string
      additionalProperties: true
    TokenResponse:
      type: object
      properties:
        access:
          type: string
          description: Short-lived JWT access token
      required:
        - access
    PaymentMethodsString:
      type: string
      description: |
        JSON-serialized object of enabled payment methods.
        Cobru expects this field as a string, not as a nested JSON object.
      example: '{"Bre-B":true,"pse":true,"NEQUI":true}'
    CreatePaymentRequest:
      type: object
      required:
        - amount
        - description
        - expiration_days
        - payment_method_enabled
        - payer_redirect_url
        - callback
      properties:
        amount:
          type: integer
          description: Amount in COP
          example: 50000
        description:
          type: string
          example: Order
        expiration_days:
          type: integer
          example: 1
        client_assume_costs:
          type: boolean
          default: false
        iva:
          type: number
          default: 0
        payment_method_enabled:
          $ref: '#/components/schemas/PaymentMethodsString'
        payer_redirect_url:
          type: string
          format: uri
        callback:
          type: string
          format: uri
        platform:
          type: string
          example: API
    PaymentResponse:
      type: object
      properties:
        pk:
          type: integer
          example: 27150
        amount:
          type: string
          example: '50000.00'
        state:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
        date_created:
          type: string
          format: date-time
        payment_method:
          type: string
          nullable: true
        url:
          type: string
          description: Short slug. Final payment URL is `{baseUrl}/{url}`.
          example: 3gofdf6f
        owner:
          type: string
        name:
          type: string
        payed_amount:
          type: string
          example: '47605.00'
        client_assume_costs:
          type: boolean
        payment_method_enabled:
          $ref: '#/components/schemas/PaymentMethodsString'
        expiration_days:
          type: integer
        fee_amount:
          type: integer
        fee_iva_amount:
          type: integer
        platform:
          type: string
        callback:
          type: string
        fee_iva:
          type: number
        iva_amount:
          type: number
        not_send_email:
          type: boolean
        by_topup:
          type: boolean
        bank_withdraw:
          type: string
          nullable: true
        payer_redirect_url:
          type: string
        franchise:
          type: string
          nullable: true
        idempotency_key:
          type: string
        wallet_bitcoin:
          type: string
          nullable: true
        amount_bitcoin:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        currency_code:
          type: string
          example: COP
    PaymentDetailsBreBRequest:
      allOf:
        - type: object
          required:
            - payment
          properties:
            payment:
              type: string
              const: breb
              example: breb
    PaymentDetailsBase:
      type: object
      required:
        - name
        - payment
        - cc
        - email
        - document_type
        - phone
      properties:
        name:
          type: string
        payment:
          type: string
          description: |
            Payment method selector.
            Spotlight and later research point to `payment`, not `payment_method`.
        cc:
          type: string
          description: Payer document number
        email:
          type: string
          format: email
        document_type:
          type: string
          enum:
            - CC
            - TI
            - CE
            - NIT
            - PA
        phone:
          type: string
      additionalProperties: true
    PaymentDetailsPseRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          required:
            - bank
            - address
          properties:
            payment:
              type: string
              const: pse
              example: pse
            bank:
              type: string
              description: Numeric bank code obtained from `GET /get_banks/1/`
              example: '1040'
            address:
              type: string
              example: Bogotá, Colombia
    PaymentDetailsCashRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          properties:
            payment:
              type: string
              enum:
                - efecty
                - corresponsal_bancolombia
                - baloto
              example: efecty
    PaymentDetailsNequiRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          required:
            - phone_nequi
          properties:
            payment:
              type: string
              const: NEQUI
              example: NEQUI
            phone_nequi:
              type: string
            push:
              type: boolean
              default: true
    PaymentDetailsDaleRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          properties:
            payment:
              type: string
              const: dale
              example: dale
    PaymentDetailsBancolombiaTransferRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          properties:
            payment:
              type: string
              const: bancolombia_transfer
              example: bancolombia_transfer
    PaymentDetailsDaviplataRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          properties:
            payment:
              type: string
              const: daviplata
              example: daviplata
    PaymentDetailsCreditCardRequest:
      allOf:
        - $ref: '#/components/schemas/PaymentDetailsBase'
        - type: object
          required:
            - credit_card
            - expiration_date
            - cvv
            - dues
          properties:
            payment:
              type: string
              const: credit_card
              example: credit_card
            credit_card:
              type: string
              description: Card number without spaces
            expiration_date:
              type: string
              description: Expiration date in MM/AA
            cvv:
              type: string
            dues:
              type: integer
    PaymentDetailsRequest:
      type: object
      required:
        - payment
      properties:
        payment:
          type: string
      oneOf:
        - $ref: '#/components/schemas/PaymentDetailsBreBRequest'
        - $ref: '#/components/schemas/PaymentDetailsPseRequest'
        - $ref: '#/components/schemas/PaymentDetailsCashRequest'
        - $ref: '#/components/schemas/PaymentDetailsNequiRequest'
        - $ref: '#/components/schemas/PaymentDetailsDaleRequest'
        - $ref: '#/components/schemas/PaymentDetailsBancolombiaTransferRequest'
        - $ref: '#/components/schemas/PaymentDetailsDaviplataRequest'
        - $ref: '#/components/schemas/PaymentDetailsCreditCardRequest'
    DaviplataConfirmRequest:
      type: object
      required:
        - URL
        - OTP
      properties:
        URL:
          type: string
          description: Cobru URL or slug to confirm
        OTP:
          type: string
          description: OTP received by the payer
      additionalProperties: true
    DaviplataConfirmResponse:
      type: object
      properties:
        result:
          type: string
          example: OK
      additionalProperties: true
    CobruDetailResponse:
      type: object
      properties:
        fee_amount:
          type: integer
        payer_id:
          type: string
        payer_name:
          type: string
        payment_method:
          type: string
        state:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
        payer_email:
          type: string
        payment_method_enabled:
          $ref: '#/components/schemas/PaymentMethodsString'
        date_payed:
          type: string
        url:
          type: string
        amount:
          type: integer
        expiration_days:
          type: integer
        payer_phone:
          type: string
        iva_amount:
          type: number
        date_expired:
          type: integer
        date_created:
          type: integer
        images:
          type: string
          nullable: true
        description:
          type: string
        payed_amount:
          type: integer
    BankCode:
      type: object
      properties:
        bankName:
          type: string
        bankCode:
          type: string
    EstimateRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: string
          example: '5000'
        client_assume_costs:
          type: boolean
    EstimateResponse:
      type: object
      properties:
        cobru_amount:
          type: integer
        cobru_fee:
          type: integer
        iva:
          type: number
        cobru_payed_amount:
          type: integer
    EditCobruRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        description:
          type: string
        amount:
          type: integer
        expiration_days:
          type: integer
        payment_methods:
          type: string
        fee_iva:
          type: string
    TransferListItem:
      type: object
      properties:
        from_user:
          type: string
          description: Sender identifier.
          example: support@cobru.co
        to_user:
          type: string
          description: Recipient identifier, documented as a phone-based value in legacy materials.
          example: '3001234567'
        amount:
          type: integer
          description: Transfer amount.
          example: 99000
        date:
          type: string
          description: Transfer creation date or timestamp.
          example: '2026-04-08T14:35:00Z'
      additionalProperties: true
    TransferListResponse:
      type: array
      items:
        $ref: '#/components/schemas/TransferListItem'
    TransferRequest:
      type: object
      required:
        - to_user
        - amount
      properties:
        to_user:
          type: string
          description: Recipient phone number
        amount:
          type: integer
    CashWithdrawalListItem:
      type: object
      properties:
        pk:
          type: integer
          description: Cobru withdrawal identifier.
          example: 123456
        amount:
          type: integer
          description: Requested withdrawal amount.
          example: 10000
        date:
          type: string
          description: Creation date or timestamp.
          example: '2026-04-08T14:35:00Z'
        from_user:
          type: string
          example: ops@cobru.co
        from_user_phone:
          type: string
          example: '3000000000'
        to_user:
          type: string
          description: Recipient descriptor or recipient full name.
          example: Testeo efecty
        method:
          type: string
          example: efecty
        state:
          type: integer
          description: Legacy state code.
          example: 2
        callback:
          type: string
          format: uri
          example: https://merchant.example/webhooks/cash-withdrawals
      additionalProperties: true
    CashWithdrawalListResponse:
      type: array
      items:
        $ref: '#/components/schemas/CashWithdrawalListItem'
    CashWithdrawalRequest:
      type: object
      required:
        - method
        - document
        - amount
        - exp_days
        - name
      properties:
        method:
          type: string
          example: efecty
        document:
          type: string
        amount:
          type: string
        exp_days:
          type: string
        name:
          type: string
        coupon:
          type: string
        callback:
          type: string
          format: uri
        estimate:
          type: boolean
    CashWithdrawalResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        document:
          type: string
        ref:
          type: integer
        amount:
          type: integer
    CashWithdrawalCancelRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          description: Cash withdrawal identifier.
          example: 123456
    CashWithdrawalCancelResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        message:
          type: string
          example: cash withdrawal cancelled
      additionalProperties: true
    ThirdPartyWithdrawalBanksResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            example: 1
          name:
            type: string
            example: Bancolombia
        additionalProperties: true
    ThirdPartyWithdrawalRecord:
      type: object
      properties:
        pk:
          type: integer
          example: 7821
        type:
          type: string
          example: bank_withdrawal
        state:
          type: string
          example: deposited
        amount:
          type: integer
          example: 250000
        payed_amount:
          type: integer
          example: 244350
        fee:
          type: integer
          example: 4500
        fee_iva:
          type: integer
          example: 855
        gmf:
          type: integer
          example: 295
        account_number:
          type: string
          example: '1234567890'
        description:
          type: string
          example: Supplier payout
        date_created:
          type: string
          example: '2026-04-08T14:35:00Z'
        date_consigned:
          type: string
          nullable: true
          example: '2026-04-08T15:10:00Z'
        date_deposited:
          type: string
          nullable: true
          example: '2026-04-08T16:00:00Z'
        date_rejected:
          type: string
          nullable: true
      additionalProperties: true
    ThirdPartyWithdrawalListResponse:
      type: array
      items:
        $ref: '#/components/schemas/ThirdPartyWithdrawalRecord'
    ThirdPartyWithdrawalRequest:
      type: object
      required:
        - amount
        - account_holder_name
        - account_type
        - account_holder_document
        - account_holder_document_type
        - account_number
        - account_phone
        - account_email
      properties:
        amount:
          type: integer
          example: 250000
        account_holder_name:
          type: string
          example: Maria Perez
        account_type:
          type: string
          example: savings
        account_holder_document:
          type: string
          example: '1029384756'
        account_holder_document_type:
          type: string
          example: CC
        account_number:
          type: string
          example: '1234567890'
        account_phone:
          type: string
          example: '3001234567'
        account_email:
          type: string
          format: email
          example: maria@example.com
        bank_name:
          type: string
          example: Bancolombia
        description:
          type: string
          example: Supplier payout
        callback:
          type: string
          format: uri
          example: https://merchant.example/webhooks/withdrawals
        idempotency_key:
          type: string
          example: wd_2026_04_08_0001
    ThirdPartyWithdrawalCancelRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          example: 7821
    BreBWithdrawalRequest:
      type: object
      description: |
        Candidate request contract for BRE-B-linked bank movement. The exact production request still needs live verification with Cobru.
      properties:
        amount:
          type: integer
          example: 180000
        destination:
          type: string
          description: Destination identifier for the beneficiary, still pending confirmation.
          example: '3001234567'
        callback:
          type: string
          format: uri
        idempotency_key:
          type: string
      additionalProperties: true
    BankWithdrawalBrazilRequest:
      type: object
      required:
        - amount
        - currency_code
        - pix_key
        - pix_key_type
        - account_phone
        - account_email
      properties:
        amount:
          type: integer
          example: 180000
        currency_code:
          type: string
          example: BRL
        pix_key:
          type: string
          example: usuario@example.com
        pix_key_type:
          type: string
          example: email
        cpf:
          type: string
          nullable: true
          example: '12345678901'
        cnpj:
          type: string
          nullable: true
          example: '12345678000199'
        account_phone:
          type: string
          example: '5511999999999'
        account_email:
          type: string
          format: email
          example: usuario@example.com
        callback:
          type: string
          format: uri
        idempotency_key:
          type: string
        description:
          type: string
        platform:
          type: string
        longitude:
          type: number
        latitude:
          type: number
    BankWithdrawalArgentinaRequest:
      type: object
      required:
        - amount
        - currency_code
        - bank_name
        - account_phone
        - account_email
      properties:
        amount:
          type: integer
          example: 180000
        currency_code:
          type: string
          example: ARS
        bank_name:
          type: string
          example: Banco Galicia
        cbu:
          type: string
          nullable: true
          example: '2850590940090418135201'
        cvu:
          type: string
          nullable: true
          example: '0000003100000000000001'
        account_phone:
          type: string
          example: '5491112345678'
        account_email:
          type: string
          format: email
          example: usuario@example.com
        callback:
          type: string
          format: uri
        idempotency_key:
          type: string
        description:
          type: string
        platform:
          type: string
    BankWithdrawalMexicoRequest:
      type: object
      required:
        - amount
        - currency_code
        - clabe
        - beneficiary
        - account_phone
        - account_email
      properties:
        amount:
          type: integer
          example: 180000
        currency_code:
          type: string
          example: MXN
        clabe:
          type: string
          example: '032180000118359719'
        beneficiary:
          type: string
          example: Juan Perez
        account_phone:
          type: string
          example: '525511223344'
        account_email:
          type: string
          format: email
          example: usuario@example.com
        callback:
          type: string
          format: uri
        idempotency_key:
          type: string
        description:
          type: string
        platform:
          type: string
    RechargeRequest:
      type: object
      required:
        - value
        - recipient
        - operator
      properties:
        value:
          type: integer
          example: 20000
        recipient:
          type: string
          example: '3001234567'
        operator:
          type: string
          example: claro
    RechargeResponse:
      type: object
      properties:
        result:
          type: string
          example: ok
        message:
          type: string
          example: recharge accepted
      additionalProperties: true
    BuyPinRequest:
      type: object
      required:
        - id_pin
        - operator
      properties:
        id_pin:
          type: integer
          example: 17
        operator:
          type: string
          example: netflix
    BuyPinResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        pin:
          type: string
          example: ABCD-EFGH-IJKL
        pk:
          type: integer
          example: 4451
      additionalProperties: true
    BuyPackageRequest:
      type: object
      required:
        - cell_provider
        - code_provider
        - phone
      properties:
        cell_provider:
          type: string
          example: claro
        code_provider:
          type: string
          example: paquete_20gb
        phone:
          type: string
          example: '3001234567'
    CardCreateReloadRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          description: Use `0` to create a card, or a positive number to reload an existing card.
          example: 0
        card_id:
          type: integer
          description: Existing card identifier when reloading a card.
          nullable: true
          example: 9182
    CardRecord:
      type: object
      properties:
        id:
          type: integer
          example: 9182
        masked_pan:
          type: string
          example: 411111******1111
        display_expiration:
          type: string
          example: 12/28
        balance:
          type: integer
          example: 150000
        state:
          type: string
          example: active
        cvv:
          type: string
          example: '123'
        max_balance:
          type: integer
          example: 1000000
        support_token:
          type: string
          example: tok_support_9182
      additionalProperties: true
    CardListResponse:
      type: array
      items:
        $ref: '#/components/schemas/CardRecord'
    CardTransactionRecord:
      type: object
      properties:
        id:
          type: integer
          example: 1001
        amount:
          type: integer
          example: 25000
        status:
          type: string
          example: posted
        created_at:
          type: string
          example: '2026-04-08T14:35:00Z'
        merchant_name:
          type: string
          example: Streaming Service
      additionalProperties: true
    CardTransactionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/CardTransactionRecord'
    FreezeCardRequest:
      type: object
      required:
        - card_id
        - freeze
      properties:
        card_id:
          type: integer
          example: 9182
        freeze:
          type: boolean
          example: true
    WebhookPayload:
      type: object
      properties:
        orderId:
          type: string
        state:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
        payment_method:
          type: string
          nullable: true
        amount:
          type: string
        url:
          type: string
  responses:
    GenericError:
      description: Cobru error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
